---
hide:
  - navigation
---

# 诺丁汉大学数学系升学参考平台 <br> <small>26 Fall 申请季</small>

## 手册导览 Site Map

<div class="grid cards" markdown>

-   :material-file-document-multiple-outline: __申请案例__

    ---

    查看 {{ students | length }} 位数学/统计系申请人的个人背景、申请结果、最终去向及经验分享。

    [Applicants:octicons-chevron-right-24:](./applicants/index.md)

-   :material-earth: __申请项目__

    ---

    查看全球 {{ universities | length }} 所高校共 {{ programs | length - 1 }} 个硕士、博士研究生项目的申请结果汇总。

    [Programs:octicons-chevron-right-24:](./programs/index.md)

-   :material-school-outline: __关于本平台__

    ---

    本平台数据来自诺丁汉大学数学系 26 Fall 毕业生申请信息问卷，仅收录用户明确同意公开的内容。

    [前言:octicons-chevron-right-24:](./prefaces/preface-2026.md)

-   :material-scale-balance: __版权声明__

    ---

    本平台为学生自发的非商业公益项目。未经许可，任何组织或个人不得以任何形式编辑、修改、复制或发行本平台的全部或部分内容。严禁用于商业用途。

</div>

!!! info "免责声明"

    - 本平台内容由诺丁汉大学数学系学生自愿提供并经整理。所涉及的所有申研观点仅代表内容提供者的个人观点，不代表本项目组、院系或学校的立场。请各位读者带着批判性思维阅读。
    - 为最大限度保护隐私，内容提供者可对部分信息进行模糊化或选择性披露。本平台仅展示用户明确同意公开的信息，但仍无法完全保证个人信息免于被他人出于商业或其它目的利用。

## 专栏 Article

<div class="grid cards" markdown>
{% for a in articles %}
-   :{{ a.icon | default('material-text-box-outline', true) }}: __{{ a.title }}__

    ---

    {{ a.desc }}

    [阅读全文:octicons-chevron-right-24:](articles/{{ a.slug }}.md)
{% endfor %}
</div>

## 致谢 Acknowledgements

本平台的网页与数据结构参考了 <a href="https://github.com/UNNC-feiyue/docs-cs" target="_blank">宁波诺丁汉大学计算机系飞跃手册:octicons-arrow-up-right-24:</a>，并在此基础上结合数学系问卷数据搭建。

!!! tip "特别鸣谢"

    感谢所有为本平台提供申请经历与数据的数学系同学。你们的分享，将帮助学弟学妹少走弯路。
